<div id="title-line" class="movie-list-title2">The Middle-Earth saga</div>
        <div class="grid-container3">
            <div class="grid-item">
                <a href="movie-page.html?id=17">
                    <img src="/assets/img/lotr.jpg" alt="Fellowship of the ring">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=18">
                    <img src="/assets/img/lotr2.jpg" alt="The two towers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=19">
                    <img src="/assets/img/lotr3.webp" alt="Return of the king">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=20">
                    <img src="/assets/img/hobbit.webp" alt="Unexpected journey">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=21">
                    <img src="/assets/img/hobbit2.jpg" alt="Desolation of Smaug">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=22">
                    <img src="/assets/img/hobbit3.webp" alt="Battle of the five armies">
                </a>
            </div>
        </div>