<div class="movie-list-title2">Harry Potter</div>
        <div class="grid-container4">
            <div class="grid-item">
                <img src="/assets/img/hp1.jpg" alt="Fellowship of the ring">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp2.jpg" alt="The two towers">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp3.jpg" alt="Return of the king">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp4.jpg" alt="Unexpected journey">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp5.jpg" alt="Desolation of Smaug">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp6.avif" alt="Battle of the five armies">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp7.jpg" alt="Battle of the five armies">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hp8.jpg" alt="Battle of the five armies">
            </div>
        
        </div>
    </div>