<div id="title-line" class="movie-list-title2">Follow Harry Potter's journey from attending<br>at Hogwarts to finally battling his parent's murderer</div>
        <div class="grid-container4">
            <div class="grid-item">
                <a href="movie-page.html?id=23">
                    <img src="/assets/img/hp1.jpg" alt="Philosophers stone">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=24">
                    <img src="/assets/img/hp2.jpg" alt="Chamber of secrets">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=25">
                    <img src="/assets/img/hp3.jpg" alt="Prisoner of Azkaban">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=26">
                    <img src="/assets/img/hp4.png" alt="Goblet of fire">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=27">
                    <img src="/assets/img/hp5.png" alt="Phoenix order">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=28">
                    <img src="/assets/img/hp6.png" alt="Half blood prince">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=29">
                    <img src="/assets/img/hp7.jpg" alt="Deathly hallows Part I">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=30">
                    <img src="/assets/img/hp8.jpg" alt="Deathly hallows Part II">
                </a>
            </div>
        </div>
        <div id="title-line"></div>
</div>