<div class="movie-list-title2">The Middle-Earth saga</div>
        <div class="grid-container3">
            <div class="grid-item">
                <img src="/assets/img/lotr.jpg" alt="Fellowship of the ring">
            </div>
            <div class="grid-item">
                <img src="/assets/img/lotr2.jpg" alt="The two towers">
            </div>
            <div class="grid-item">
                <img src="/assets/img/lotr3.webp" alt="Return of the king">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hobbit.webp" alt="Unexpected journey">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hobbit2.jpg" alt="Desolation of Smaug">
            </div>
            <div class="grid-item">
                <img src="/assets/img/hobbit3.webp" alt="Battle of the five armies">
            </div>
        
        </div>