<div class="movie-list-title1">Marvel Cinematic Universe</div>
        <div class="grid-container2">
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/ironman2.webp" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/ironman3.webp" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/capt2.webp" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/capt3.jpg" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/thor2.jpg" alt="Thor The dark world">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/thor3.jpg" alt="Thor Ragnarok">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/guardians.jpg" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/guardians2.jpg" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/antman.webp" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/antman2.webp" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/panther.jpg" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/strange.jpg" alt="Avengers">
                </a>
            </div>
        </div>
    </div>