<div id="title-line" class="movie-list-title1">Watch all your favorite heroes assemble in <br>The Marvel Cinematic Universe</div>
        <div class="grid-container2">
            <div class="grid-item">
                <a href="movie-page.html?id=1">
                    <img src="/assets/img/ironman.jpg" alt="Iron Man">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=2">
                    <img src="/assets/img/capt.jpg" alt="Captain America">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=3">
                    <img src="/assets/img/thor.webp" alt="Thor">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=4">
                    <img src="/assets/img/avengers1.jpg" alt="Avengers">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=5">
                    <img src="/assets/img/ironman2.webp" alt="Iron Man 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=6">
                    <img src="/assets/img/capt2.webp" alt="Captain America 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=7">
                    <img src="/assets/img/thor2.jpg" alt="Thor 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=8">
                <img src="/assets/img/avengers2.jpg" alt="Avengers 2">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=9">
                    <img src="/assets/img/ironman3.webp" alt="Iron Man 3">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=10">
                    <img src="/assets/img/capt3.jpg" alt="Captain America 3">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=11">
                    <img src="/assets/img/thor3.jpg" alt="Thor 3">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=12">
                    <img src="/assets/img/avengers3.jpg" alt="Avengers 3">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=13">
                    <img src="/assets/img/strange.jpg" alt="Dr Strange">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=14">
                    <img src="/assets/img/antman.webp" alt="Ant Man">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=15">
                    <img src="/assets/img/panther.jpg" alt="Black Panther">
                </a>
            </div>
            <div class="grid-item">
                <a href="movie-page.html?id=16">
                    <img src="/assets/img/avengers4.jpg" alt="Avengers 4">
                </a>
            </div>
        </div>
    </div>