<header>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><a href="../html/index.html"><h1 class="logo">EpiCinema</h1></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item"><a href="../html/index.html">Home</a></li>
                    <li class="menu-list-item"><a href="#about-section">About</a></li>
                    <li class="menu-list-item dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Titles</a>
                        <div class="dropdown-content">
                          <a href="index.html#mcu-grid-container" class="scroll-link">MCU</a>
                          <a href="index.html#lotr-grid-container" class="scroll-link">Middle-earth saga</a>
                          <a href="index.html#hp-grid-container" class="scroll-link">Harry Potter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
